body 
{
    font-family:Sans-Serif;
    font-size:17px;
    padding:0px;
    margin-top:0px;
    margin: 0px 0px 0px 0px;
    color:#606060;
}
.body
{
    background-color:#F0F0F0;
}
#globalContent
{
    padding:0px;
    width:100%;
    
}
#sombraCabeceraSuperior
{
    position:fixed;
    top:0px;
    height:0px;
    padding:0px;
    width:100%;
    border-top:4px solid #4f7ed1;
    z-index:10;    
}
#usuarioConectado
{
    position:absolute;
    top:0px;
    background-color:white;
    /*margin-left:750px;*/
    right:0px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    border:2px solid #4f7ed1;
    border-top:0px solid #4f7ed1;
    padding:3px;
    cursor:default;
    display:none;
}
#logo
{
    cursor:default;
}
#cabecera
{
    position:fixed;
    top:4px;
    left:-490px;
    width:980px;
    margin-left:50%;
    
    height:70px;
    /*border:1px solid #000;*/
    /*background-color:White;*/
    z-index:15;
    opacity:0.95;
    filter:alpha(opacity=95);
    background-image:url(../img/banner.jpg);
    background-position:top right;
}
#cabecera h3
{
    position:relative;
    font-size:25px;
    padding:0px;
    margin:0px;
    display:inline;
    top:7px;
    color:#ffb400;
    font-weight:bold;
}
#cabecera h4
{
    font-size:15px;
    padding:0px;
    display:inline;
    color:#4f7ed1;
}
#cabecera h4 span
{
    color:#000;
}
#cabecera ul
{
    position:relative;
    top:17px;
    padding:0px;
    margin:0px;
    list-style:none;
    display:inline-block;
   
}
#cabecera ul li
{
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-top:2px solid #4f7ed1;
    border-left:2px solid #4f7ed1;
    border-right:2px solid #4f7ed1;
    
    display:inline-block;
    font-weight:bold;
    width:130px;
    text-align:center;
    box-shadow:4px -2px 9px rgba(0, 0, 0, 0.3);
    background-color:White;
}
#cabecera ul li:hover
{
    border-top:2px solid #4f7ed1;
    border-left:2px solid #4f7ed1;
    border-right:2px solid #4f7ed1;
    /*background-color:#4f7ed1;*/
    background: -moz-linear-gradient(top, #4f7ed1, #4dbbe5);
    background: -webkit-linear-gradient(top, #4f7ed1, #4dbbe5);
    color:White;
    box-shadow:4px -2px 9px rgba(0, 0, 0, 0.6);
}
#cabecera ul li:hover a
{
    /*background-color:#4dbbe5;*/
    background: -moz-linear-gradient(top, #4f7ed1, #4dbbe5);
    background: -webkit-linear-gradient(top, #4f7ed1, #4dbbe5);
    color:White;
}
#cabecera ul li a
{
    color:#606060;
    text-decoration:none;
    cursor:pointer;
}
#cabecera ul li a:hover
{
    color:White;
}
#cabecera ul li a:link,a:visited,a:active
{
    color:#606060;
    text-decoration:none;
}
#sombraCabecera
{
    position:fixed;
    top:74px;
    width:100%;
    padding:0px;
    margin:0px;
    border-bottom:4px solid #4f7ed1;
    /*box-shadow:0px 5px 7px #d0d0d0;*/
    box-shadow:0px 9px 18px rgba(0, 0, 0, 0.6);
    height:0px;
    z-index:10;
}
#cabeceraFija
{
    position:fixed;
    top:0px;
    width:100%;
    height:74px;
    background-color:White;
    z-index:13;
    opacity:0.90;
    filter:alpha(opacity=90);
    margin:0 auto;
    /*background-image:url(../img/banner4Mini.jpg);
    background-repeat:repeat-x;*/
    /*background-color:#fecd1a;*/
    

}
#bodyMaster
{
    width:100%;
    padding:0px;
    margin:0px;
    margin-top:100px;
    /*border-top:1px solid #4f7ed1;
    box-shadow:0px -10px 8px #4f7ed1;*/
	min-height:1275px;
}
.salir
{
    margin-left:140px;
}
#bodyContent
{
    padding:0px;
    width:980px;
    margin:0 auto;
    /*border:1px solid #000;*/
    /*min-height:775px;*/
    /*min-height:1275px;*/
    display:none;
}
#footer
{
    position:relative;
    bottom:0px;
    width:100%;
    padding:0px;
    margin:0px;
    border-bottom:4px solid #4f7ed1;
    /*box-shadow:0px 5px 7px #d0d0d0;*/
    box-shadow:0px -9px 18px rgba(0, 0, 0, 0.6);
    height:0px;
}
#inicio
{
    padding:0px;
    position:relative;
    
}
#inicio p
{
    margin-top:40px;
    font-size:20px;
    text-align:center;
}
#divGvInicio
{
    border:4px solid #606060;
    border-radius:5px;
    width:900px;
    margin:0px auto;
    box-shadow:3px -1px 15px #505050;
}
#divGvInicio table
{   
    width:900px;
    cursor:default;
}
#divGvInicio table tr,td
{
    text-align:center;
    color:#404040;
    
}
#divGvInicio table tr:hover
{
    background-color:#F0F0F0;
	font-weight:Bold;
}
.totalCaja
{
    width:290px;
    position:relative;
    left:650px;
    top:-20px;
    color:#303030;
    border:2px solid #D0D0D0;
    border-radius:5px;
}
#entradaSalida
{
    position:relative;
    padding:0px;
}
#entradaSalida p
{
    margin-top:40px;
    font-size:20px;
    text-align:center;
}
.calendarioEntradaSalida
{
    color:#404040;
    width:200px;
}
.calendarioEntradaSalida a
{
    text-decoration:none;
}
#calendarioEntradaSalida
{
    border:2px solid #606060;
    border-radius:3px;
    box-shadow:0px 0px 15px #505050;
}
#calendarioGraficos
{
    margin-top:10px;
    margin-left:30px;
    width:218px;
    border:2px solid #606060;
    border-radius:3px;
    box-shadow:0px 0px 15px #505050;
}
#formEntradasSalidas
{
    padding:25px;
    margin:0px auto;
    width:900px;
    border:0px solid #606060;
    border-radius:3px;
    box-shadow:0px 0px 15px #505050;
}
#formEntradasSalidas ul
{
    margin-top:25px;
    margin-left:20px;
    padding:0px;
}
#formEntradasSalidas ul li
{
    display:inline-block;
    list-style-type:none;
}
#formEntradasSalidas ul li ul
{
    position:relative;
    top:-35px;
    margin-left:40px;
    padding:0px;
}
#formEntradasSalidas ul li ul li
{
    padding:0px;
    display:list-item;
    margin-bottom:12px;
    font-size:17px;
}
.rblEntradasSalidas
{
    position:relative;
    top:6px;
    color:#404040;
    font-weight:bold;
    font-size:12px;
    display:inline-block;
}
.botonEntradaSalida
{
    background-color:#4f7ed1;
    color:White;
    width:100px;
    border:none;
    font-size:15px;
    height:30px;
    cursor:pointer;
    vertical-align:middle;
    border-radius:3px;
    font-weight:bold;
    box-shadow:0px 0px 9px rgba(0, 0, 0, 0.6);
}
.botonEntradaSalida:hover
{
    box-shadow:0px 0px 9px rgba(0, 0, 0, 0.8);
}
.error
{
    position:fixed;
    top:78px;
    color:#DE011A;
    font-size:18px;
    width:960px;
    text-align:center;
    font-weight:bold;
    z-index:5;
    background-color:White;
    opacity:0.90;
    filter:alpha(opacity=90);
}
.correcto
{
   position:fixed;
    top:78px;
    color:#4f7ed1;
    font-size:18px;
    width:960px;
    text-align:center;
    font-weight:bold;
    z-index:5;
    background-color:White;
    opacity:0.90;
    filter:alpha(opacity=90);
}
.listSearchExtender
{
    font-size:12px;
    color:#606060;
}
#conceptos
{
    position:relative;
    padding:0px;
}
#conceptos p
{
    margin-top:40px;
    font-size:20px;
    text-align:center;
}
#formConceptos
{
    padding:25px;
    margin:0px auto;
    width:900px;
    border:0px solid #606060;
    border-radius:3px;
    box-shadow:0px 0px 15px #505050;
    height:620px;
}
#formConceptos ul
{
    width:400px;
    margin-top:25px;
    margin-left:0px;
    padding:0px;
}
#formConceptos ul li
{
    list-style-type:none;
    margin-top:20px;
}
#formConceptos input
{

}
#divGvConceptos
{
    position:relative;
    top:-140px;
    left:220px;
    border:4px solid #606060;
    border-radius:5px;
    width:400px;
    margin:0px auto;
    box-shadow:3px -1px 15px #505050;
    height:600px;
    overflow:auto;
}
#divGvConceptos table
{   
    width:383px;
    cursor:default;
}
#divGvConceptos table tr,td
{
    text-align:center;
    color:#404040;
    
}
#divGvConceptos table a
{   
    color:#404040;
    font-weight:bold;
    text-decoration:none;
}
#divGvConceptos table a:hover
{   
    color:#4f7ed1;
    font-weight:bold;
    text-decoration:none;
}
#divGvConceptos table tr:hover
{
    background-color:#F0F0F0;
}
#graficos
{
    position:relative;
    padding:0px;
}
#graficos p
{
    margin-top:40px;
    font-size:20px;
    text-align:center;
}
#formGraficos
{
    padding:25px;
    margin:0px auto;
    width:900px;
    border:0px solid #606060;
    border-radius:3px;
    box-shadow:0px 0px 15px #505050;
}
#formGraficos2
{
    position:relative;
    top:-180px;
    left:340px;
    width:400px;
  
} 
#formGraficos2 ul
{
    list-style:none;
    padding:0px;
}
#formGraficos2 ul li
{
    padding:0px;
    margin-top:25px;
}
#liBoton
{
    margin-left:120px;
}
#listaGraficos
{
    position:relative;
    top:-140px;
    left:50px;
    margin-top:0px;
    padding-top:0px;    
}
#listaGraficos ul
{
    padding:0px;
    margin:0px;
}
#listaGraficos ul li
{
    padding:0px;
    margin:0px;
    list-style:none;
    display:inline-block;
    margin-left:20px;
    font-weight:bold;
    cursor:pointer;
    color:#4f7ed1;
}
#listaGraficos ul li:hover
{
    color:#404040;
}
.grafico
{
    position:relative;
    top:-120px;
    margin-left:50px;
    display:none;
    width:800px;
}
#listados
{
    position:relative;
    padding:0px;
}
#listados p
{
    margin-top:40px;
    font-size:20px;
    text-align:center;
}
#formListados
{
    padding:25px;
    margin:0px auto;
    width:900px;
    border:0px solid #606060;
    border-radius:3px;
    box-shadow:0px 0px 15px #505050;
    
}
#calendarioListados
{
    margin-top:10px;
    margin-left:30px;
    width:218px;
    border:2px solid #606060;
    border-radius:3px;
    box-shadow:0px 0px 15px #505050;
}
#formListados2
{
    position:relative;
    top:-180px;
    left:340px;
    width:400px;
  
} 
#formListados2 ul
{
    list-style:none;
    padding:0px;
}
#formListados2 ul li
{
    padding:0px;
    margin-top:25px;
}
#loginPrincipal
{
    width:980px;
    margin:0 auto;
}
#loginPrincipal2
{
    position:relative;
    top:100px;
    border-radius:10px;
    border:15px solid #FFF;
    box-shadow:0px 0px 25px rgba(0, 0, 0, 0.8);
    height:400px;
    background-image:url(../img/fondo4.jpg);
    background-position:left bottom;
    /*opacity:0.70;
    filter:alpha(opacity=70);*/
    z-index:1;
}
#loginPrincipal2 p
{
    margin-top:30px;
    font-size:25px;
    text-align:center;
    font-weight:bold;
    color:White;
}
#contenedorLogin
{
    position:relative;
    top:20px;
    left:235px;
    border-radius:10px;
    border:5px solid #FFF;
    box-shadow:0px 0px 9px rgba(0, 0, 0, 0.8);
    width:450px;
    height:200px;
    text-align:center;
    z-index:5;
    background-image:url(../img/fondo3.jpg);
    background-position:top left;
    opacity:0.85;
    filter:alpha(opacity=85);
}
#contenedorLogin ul
{
    padding:0px;
    margin:0px;
    padding-top:30px;
 
}
#contenedorLogin ul li
{
    padding:0px;
    margin:0px;
    list-style:none;
    margin-top:20px;
}
.errorLogin
{
    position:absolute;
    top:80px;
    color:#DE011A;
    font-size:18px;
    width:960px;
    text-align:center;
    font-weight:bold;
    z-index:25;
    
}
#login
{
    position:absolute;
    width:100%;
    height:100%;
}